

.container{
    
    width: 150px;
    padding: 15px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    gap:10px;
    border-radius:2px;
    
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5) ;

}

.container2{
    
    width: 120px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    
    border-radius: var(--radius-xl);
   
    

}


.ColorDisplay{
    height: 20px;
    width: 20px;
    border-radius: 50%;

     


}
.ColorDisplay:hover{
    transform: scale(1.15);
    transition: 1.4s ease-in-out;
    opacity: 70%;
    cursor: pointer
}

